.AnimalDashboard-body{
    background-color: ghostwhite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: large;
    color:darkblue;
    margin-top: -8px;
    background-size: cover;
   
}
#animalHeading{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:darkgreen;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 100px;
    margin-left: 100px;
    font-size: xx-large;
    text-decoration: underline;
   
}
#searchingBox{
    margin-top: 100px;
    margin-left: 175px;
}
#animalSearch{
    width: 330px;
    padding: 15px;
    background:azure;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -moz-border-radius: 10px;
    font-weight: bolder;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 2px 2px aliceblue inset, 0 2px 0 aliceblue;
    -webkit-box-shadow: 0 2px 2px aliceblue inset, 0 2px 0 aliceblue;
    box-shadow: 0 2px 2px aliceblue inset, 0 2px 0 aliceblue;
    }
.dashButton{
    margin-left: 600px;
    margin-bottom: 90px;
    
}

#AnimalTableChamath th{
    padding-left: 2px;
    padding-right: 2px;
    text-align:center;
    background-color:snow;
    color: black;
    font-size:large;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 5px;
    border-style:none;
    
    
}
  #AnimalTableChamath tr:hover {
    background-color:lavender;
  }

  .anCol{
    background-color:azure;
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-align:center;
    
   
}

.anRowing{
    border: none;
   
}

#AnimalTableChamath{
    opacity: 80%;
}

#updateButton{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#deleteButton{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#AnimalTableChamath{
    width: 75%;
    margin: 0 auto;
    border-spacing: 2px;
    
    
  }

  #chamathAnimalID{
      color: red;
  }

  #chamathAnimalID:hover{
      color: darkgreen;
  }

#chamAdminNav{
    margin-left: 600px;
}

#chamCreaButton{
    margin-left: 605px;
}