.AnimalDetails-body{
    font-size:medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-position: center;
    color:black;
    background-image: url(../images/jaguar.jpg);
    background-size: cover;
    font-weight: bolder;
    background-color: azure;
}

#AniDetHead{
    font-size:xx-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:darkgreen;
    font-weight: bolder;
    
}

.myFormsChamath{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    color:darkorange;
    font-weight: bolder;
    
}

.ChamathRetreiveForm{
    width: 100%;
    
}

.container-fluid{
    width: 60%;
    opacity: 75%;
}

#chamathRet{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: black;
}

