.details-form {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#details-lable {
  color: black;
}
#header-details {
  font-size: 50px;
  color: white;
}
input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
input[type='submit']:hover {
  background-color: #45a049;
}

label {
  font-size: x-large;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
