.booking-container-1{
    display:block;
    position:relative;
    width: 100%;
    height: 600px;
    margin: 0px auto ;
}

.booking-container-1 .booking-container-2{
    background-color:white;
    position: relative;
    display:block;
    width: 1000px;
    height: 502px;
    margin: 30px auto;
    position: relative;
    border-style: solid;
    border-color: #707070;
    border-width: 1px;
    border-radius: 10px;

}

.booking-container-1 .booking-container-2 .booking-container-left{
   background-image: url(../images/013.png);
   position: relative;
   background-size: cover;
   float: left;
   display: inline-block;
    height: 500px;
    width: 45%;
    background-position-x: -25px;
    border-radius: 10px 0 0 10px;
}

.booking-container-1 .booking-container-2 .booking-container-left .img-1{
    background-image: url(../images/016.png);
    display: inline-block;
    position: relative;
    height: 500px;
    background-size: 900px;
    background-repeat: no-repeat;
    width: 560px;
    background-position-x: -220px;
    background-position-y: 90px;
}

.booking-container-1 .booking-container-2 .booking-container-right{
    position: relative;
    background-size: cover;
    display: block;
     height: 500px;
     width: 55%;
     float: right;
     background-image:linear-gradient(to right, rgba(255, 255, 255, 0.596) , rgb(255, 255, 255)); 
     border-radius: 0 10px 10px 0;

}
.booking-container-1 .booking-container-2 .booking-container-right h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #707070;

    letter-spacing: 3px;
}

.booking-container-1 .booking-container-2 .booking-container-right .gold-hr{
    height: 3px;
    width: 200px;
    margin: auto;
    border-radius: 50px;
    border-style: solid;
    background-color: #BE8B00;
    border-color:#BE8B00;
}

.form-input-1{
    border-style: solid;
    border-color: #707070;
    border-width: 1px;
    height: 25px;
    border-radius: 5px;
    width: 100px;
    margin-right: 10px;
    padding: 3px;

}

.form-input-2{
    margin-right: 10px;
    width: 100px;

}

.form-input-3{
    
    width: 60px;
    margin-right: 20px;

}


.search-button{
    width: fit-content;
    float: right;
    margin-right: 50px;
}


.booking-container-1 .booking-container-2 .booking-container-right .booking-form{
    margin-top: 30px;
}


.booking-container-1 .booking-container-2 .booking-container-right .form-row{
    padding: 0 50px ;
    color: #707070;
}
.booking-container-1 .booking-container-2 .booking-container-right label{
    margin-right: 20px;
}
.abotSearch-container{
    
    color: #707070;
    width: 300px;
    margin-left: 50px;
    margin-top: 100px;
    font-size: 20px;

}

.abotSearch-container input{
    background-color: rgba(255, 245, 238, 0.295);
    color: #707070;
    width: 160px;
    right: 0;
    margin-left: 25px;
    margin: 10px;
  

    
}

.abotSearch-container h3{
    font-size: 20px;
    float: left;


}



.available-bus-tbl{
    font-size: 12px;
    width: 98%;
    height: 400px;
    overflow-y: scroll;
    text-align: center;
}

.available-bus-tbl th{
    color: #212121;
}



.available-bus-tbl td{
    font-size: 15px;
    color: #3e3e3e;
}

.available-bus-tbl button{
    text-align: center;
    height: 29px;
    padding: 3px;
    border-color: slategrey;
}

.available-bus-tbl button:hover{
    background-color: rgb(196, 196, 196);
    border-color: slategrey;
}

.available-bus-tbl button p{
    font-size: 15px;
}