.CreateAnimal-body{
    font-size: large;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: bolder; */
    color: black;
    background-position: center;
    /* background-color: ghostwhite; */
    /* background-image: url(../images/chamathPic1.jpg); */
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;

    background: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    background-size: 500% 400%;
    animation: gradient 15s ease infinite;
    height: 200vh;
   
}

.h1-CreateAnimal{
    font-size:xx-large;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color:darkgreen;
    
    
}

.CreateAniHead{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color:darkgreen;
    font-size: xx-large;
    width: 60%;
    margin-left: 100px;
    margin-right: 100px;
   
    
}

.container-fluid{
    width: 50%;
    
}
    
#chamForm{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: bolder; */
    font-size: large;
    
}   

#chamathCreaForm{
    border-style: solid;
    background-color: azure;
    opacity: 80%;
    padding-top: 20px;
    margin-bottom: 100px;
    margin-top: 25px;
    
}

#chamathRet{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: bolder; */
    color: black;
    font-size: large;
}

#ChamathValidation{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:200px;
    font-weight: bolder;
    color:red;
}