.CreateAnimal-body {
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  background-position: center;
  background-size: cover;
  padding-top: 5px;
  padding-bottom: 20px;

  background: linear-gradient(132deg, #0d2409 0%, #005020 80%);
  background-size: 500% 400%;
  animation: gradient 5s ease infinite;
  height: 159vh;
}

.h1-CreateAnimal {
  font-size: xx-large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: white;
  /* margin-right: 200px; */
  align-items: center;
}

.CreateAniHead {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: darkgreen;
  font-size: medium;
  width: 60%;
}

.container-fluid {
  /* width: 50%; */
}

#chamForm {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-weight: bolder; */
  font-size: medium;
}

#chamathCreaForm {
  border-style: solid;
  background-color: white;
  /* opacity: 80%; */
  padding-top: 5px;
  padding-bottom: 0px;
  margin-top: 5px;
  padding-left: 175px;
  padding-right: 25px;
  width: 45%;
  border: 5px solid black;
 
}

#chamathRet {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-weight: bolder; */
  color: black;
  font-size: large;
}

#ChamathValidation {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 200px;
  font-weight: bolder;
  color: red;
}
