.create-booking-body {
  font-family: Arial;
  margin: 0;

  /* background: linear-gradient(-45deg, #bbb7b6, #1d3277, #23a6d5, #23d5ab); */
  background: linear-gradient(132deg, #0d2409 0%, #01441c 80%);
  background-size: 500% 400%;
  animation: gradient 15s ease infinite;
  height: 200vh;
}
header {
  position: fixed;
  width: 100%;
  height: var(--heading-height);
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
input[type='submit']:hover {
  background-color: #45a049;
}

.create-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
label {
  font-size: x-large;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
#Error {
  color: red;
  width: 200px;
  font-size: 50px;
}
#request-lable {
  color: black;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blurred-box {
  position: relative;
  width: 250px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}
.blurred-box:after {
  content: '';
  width: 300px;
  height: 300px;
  background: inherit;
  position: absolute;
  left: -25px;
  left: position;
  right: 0;
  top: -25px;
  top: position;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
  filter: blur(10px);
}
#crtH {
  color: rgb(255, 255, 255);
  font-size: 70px;
  margin: auto;
  padding-top: 50px;
  margin:0 auto;
  text-align:center;
}

#content {
  margin-bottom: auto;
}
