body {
  font-family: Arial;
  margin: 0;
  background: linear-gradient(132deg, #0d2409 0%, #01441c 80%);
}

header {
  position: fixed;

  width: 100%;
  height: var(--heading-height);
}
input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
input[type='submit']:hover {
  background-color: #45a049;
}

#edit-header {
  font-size: 50px;
  color: white;
}

#label-form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
.edit-form {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
label {
  font-size: x-large;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
