.EditAnimal-body{
        color: black;
        background-position: center;
        background-size:cover;
        background-color: azure;
        background-image: url(../images/chamLeopard.jpg);
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

.UpdateAniHead{
        font-size: xx-large;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        color:darkgreen;
        margin-top: 20px;
       
       
}

.UpdateAnimalForm{
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        color:darkblue;
        font-size: large;
        width: 60%;
        margin:0 auto;
        

        
}

#chamathUpID{
        border-style: solid;
        background-color: azure;
        opacity: 80%;
        
}

#ChamathUp{
         
        margin-top:15px;
        margin-bottom:25px;
}

#chamForm{
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        color:darkblue;
        font-size: large;
        
    }   

    #chamathRet{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        color: black;
        font-size: large;
    }

#ChamathUpss{
         
        margin-top:15px;
        margin-bottom:100px;
}