.EmpDashBody{
  font-family:Arial, Helvetica, sans-serif;
  font-size: medium;
  color:black;
  background-color: blanchedalmond;
 
  align-items: center;
  display: flex;
  justify-content: center;
 

  
}

.Shas99HeadingEmpDash{
  font-size: xx-large;
  margin-left: 450px;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}


#shas99SearchBar{
  margin-top: 10px;
  margin-left:450px;
  margin-bottom: 10px;
  width: 600px;
  
}





#shasEdit{
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#shasDelete{
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}


#shas99Table{

  background-color: white;
}

