.EmpDashBody {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  color: black;
  /* background-color: blanchedalmond; */
  /* background-color: #0f2b08;
  background-image: linear-gradient(200deg, #27b105 54%, #a2d240 40%); */
  background-image: url(../images/serviceBanner.jpg);
  align-items: center;
  display: flex;
  justify-content: center;
}

#EmpCaption {
  border-style: dashed;
  border-width: 1px;
  width: 100%;
  text-align: center;
}

.Shas99HeadingEmpDash {
  font-size: xx-large;
  margin-left: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

#shas99SearchBar {
  width: 400px;
  margin-top: 10px;
  margin-left: 69%;
  margin-bottom: 10px;
}

#shasEdit {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#shasDelete {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#shas99Table {
  width: 100%;
  background-color: white;
  margin-left: 0%;
}

.empbtns {
  border-style: dashed;
  border-width: 1px;
  margin-left: 25px;
}

::placeholder {
  color: white;
  font-size: large;
  font-weight: bold;
}

#ShasCreate {
  margin-top: -25px;
  background: linear-gradient(132deg, #0d2409 0%, #005020 80%);
  background-size: 500% 400%;
  animation: gradient 5s ease infinite;
}


.shasDetails {
  margin-top: -20px;
  background: linear-gradient(132deg, #0d2409 0%, #005020 80%);
  background-size: 500% 400%;
  animation: gradient 5s ease infinite;
}
.ShasEdit {
  margin-top: -25px;
  background: linear-gradient(132deg, #0d2409 0%, #005020 80%);
  background-size: 500% 400%;
  animation: gradient 5s ease infinite;
}
