.medicalbody {
    align-items: center;
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    height: 100vh;
  }  
  
  /* .image4 {
    position: relative;
    background-size: cover !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    margin-top: 10px;
    height: 350px;
    min-height: 250px;
    width: 700px; */
    
    


    .imagemed2 {
    background-image: url("../images/ZooMelaka.png");
    position: relative;
    background-size: cover !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
    margin-top: 10px;
    height: 300px;
    min-height: 250px;
    width: 1380px;
    
  }


  .formbody{
    width:500px;
          
  }

  .topic{
   margin :75px;
   padding-left:200px;
  }

  .titlepage{
    justify-content: center;
  align-items: center;
  margin: auto;
   }

   #RandimalTable{
     margin:0 auto;
   }