.mem-adpt-bgimage {
    background-image: url('https://images.unsplash.com/photo-1600714480856-dc99b28892eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80');
  backface-visibility: initial;
  opacity: 0.5;
}

.mem-adpt-contentarea {
  decoration: none;
  text-decoration: none;
  padding-top: 40px;
  color: black;
  background: #ffffff;
}
.mem-adopt-topic {
  font-size: 30px;
}
li.mem-gridder-list {
  display: inline-block;
  vertical-align: bottom;
  width: 92%;
  max-width: 200px;
  margin: 30px 1%;
  margin-top: 100px;
  margin-right: 6%;
  margin-bottom: 20px;
  margin-left: 7%;
  text-align: center;

  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition-property: box-shadow, -webkit-box-shadow;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  transition: box-shadow 0.2s ease-in-out;
  transition-property: box-shadow, -webkit-box-shadow;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition-property: box-shadow, -webkit-box-shadow;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
}

.mem-gridder-show,
li.mem-gridder-list {
  position: relative;
  background: #fff;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
}

li.mem-gridder-list img {
  width: 100%;
  height: auto;
}

/* .bggimage{
    //background-image: url('https://scontent.fcmb2-2.fna.fbcdn.net/v/t31.18172-8/cp0/e15/q65/s206x206/1052607_512324042173183_809067323_o.jpg');
    backface-visibility:initial;
} */