.researchbody {
  align-items: center;
  background-color: rgb(253, 253, 253);
  display: flex;
  justify-content: center;
}
#researchcol {
  background-color: white;
  width: 90%;
  margin-left: 5%;
  margin-top: 23px;
  margin-bottom: 310px;
}

.formbody {
  width: 500px;
}
.topic {
  margin: 75px;
  padding-left: 200px;
}
